body {
  font-family: "Comfortaa", cursive;
  /* min-height: 75rem; FOR SIZING ISSUE*/
}

#h1,
#h2,
#h3,
#h4,
#h5,
#h6 {
  font-family: "Comfortaa", cursive;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
}

#text-decoration {
  text-decoration: none !important;
  color: black !important;
  font-weight: bold !important;
}

#portfolio {
  font-family: "Comfortaa", cursive;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2px;
}

#centered {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  letter-spacing: 2px;
}
/*VERY IMPORTANT DO NOT DELETE KEEPS GRID INTAKE*/
#centered {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  letter-spacing: 2px;
}

#quote {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
